body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 1440px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 156px;
  margin-right: 156px;
  display: flex;
}

.header-container {
  display: flex;
}

.nav-tab {
  display: flex;
  margin-right: 332px;
  padding: 24px 0;
}

.nav-list-menu {
  display: flex;
  gap: 40px;
}

.contact-list-menu {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  margin-right: 76px;
}

.logo:hover,
.logo:focus,
.logo-title:hover,
.logo-title:focus {
  color: #404bbf;
}

.logo-title {
  color: #2e2f42;
}

.nav-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.contact-list {
  font-style: normal;
  padding: 24px 0;
}

.contacts {
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
  height: 600px;
}

.container-main {
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 188px auto 48px;
}

.main-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.list-info {
  display: flex;
  gap: 24px;
  margin: 120px auto;
}

.heading-3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: left;
}

.heading-3-new {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
}

.sect-par {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.sect-par-new {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 32px;
}

.team {
  background-color: #f4f4fd;
}

.title-hedading {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 120px auto 72px;
}

.container-team {
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}

.team-list-item {
  background-color: #ffffff;
}

.img-photo {
  margin-bottom: 32px;
}

.container-portfolio {
  flex-direction: column;
}

.list-portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: calc(1128px-48px) / 3;
}

.list-portfolio-item {
  padding-bottom: 48px;
}

.portofilo-img {
  margin-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: Raleway, sans-serif;
  margin-top: 102px;
  margin-bottom: 18px;
}

.logo-title-footer {
  color: #f4f4fd;
}

.par-footer {
  color: #f4f4fd;
  width: 264px;
  padding-bottom: 100px;
}

.container-footer {
  flex-direction: column;
}
