body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.logo:hover,
.logo:focus,
.logo-title:hover,
.logo-title:focus {
  color: #404bbf;
}

.logo-title {
  color: #2e2f42;
}

.nav-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.contact-list {
  font-style: normal;
}

.contacts {
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.heading-3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.sect-par {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-hedading {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: Raleway, sans-serif;
}

.logo-title-footer {
  color: #f4f4fd;
}

.par-footer {
  color: #f4f4fd;
}

.team-list-item {
  background-color: #ffffff;
}
